### Dependencies ###
node_modules/
frontend/node_modules/

### Build output ###
build/
dist/
frontend/dist/
frontend/.vite/
frontend/*.tsbuildinfo

### Logs ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### IDEs ###
.idea/
.vscode/
*.iws
*.iml
*.ipr

### OS ###
.DS_Store
